/* comment display তে দেখায় না , তবে document এর জন্য অনেক উপকার করে  */

/* RGB= red, green , blue  */
* {

    color: rgb(255, 99, 71);
}

/* RGBA= red, green , blue, alpha  */

/* HEX= hexadecimal */

* {
    color: #ff6347;
}

/* HSL =(hue, saturation, lightness) */
* {
    color:hsl(0, 100%, 50%);
}


/* HSLA =(hue, saturation, lightness, alpha) */
* {
    color:hsl(0, 100%, 50%, 0.5);
}