/* HTML element কে CSS selector select করে  */

/* 
<!-- We can divide CSS selectors into five categories: -->
<!-- Simple selectors (select elements based on name, id, class) -->
<!-- Combinator selectors (select elements based on a specific relationship between them) -->
<!-- Pseudo-class selectors (select elements based on a certain state) -->
<!-- Pseudo-elements selectors (select and style a part of an element) -->
<!-- Attribute selectors (select elements based on an attribute or attribute value -->
 */




/*
 <!-- All CSS Simple Selectors -->
<!-- ======================================================== -->

<!-- #id = #firstname = Selects the element with id="firstname" -->
<!-- .class	= .intro = Selects all elements with class="intro" -->
<!-- element.class= p.intro =	Selects only <p> elements with class="intro" -->
<!-- * = *	= Selects all elements -->
<!-- element =	p =Selects all <p> elements -->
<!-- element,element,.. =	div, p =	Selects all <div> elements and all <p> elements --> */