body {
  padding: 0px;
  margin: 0px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
   margin-top: 20px;
   margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  ol{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  form{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

 