
/* ==============================================================================
----------------------------- Register Page Style Start------------------------------
============================================================================== */
.banner-img {
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
.banner-img img{
    width: 40vw;
}
form {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
}
form h2 {
  text-align: center;
  font-size: 2rem;
  -webkit-text-stroke: 0.8px var(--secondary-color);
  color: transparent;
}
.form-section {
  width: 50vw;
}
.register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 0.5rem;
  justify-content: center;
  margin: 0.2rem;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
  width: 1;
}

.form-group input,
textarea,
select {
  border-color: transparent;
  outline-color: transparent;
  padding: 1rem 0;
  text-indent: 1rem;
  padding-right: 0;
  backdrop-filter: blur(10px);
  border-radius: 0.7rem;
  background-color: transparent;
}
input[type="radio"] {
  width: fit-content;
}
input[type="checkbox"] {
  width: fit-content;
}
input[type="file"] {
  display: none;
}

label {
  margin-bottom: 0.2rem;
  text-indent: 0.2rem;
}
.input-mother-name {
  grid-column: 1/3;
}
.input-address {
  grid-column: 1/3;
}
.input-skills {
  grid-column: 1/3;
}
.input-file {
  padding: 0.5rem;
  border: 2px dashed gray;
  margin: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.input-file:hover {
  background-color: #0066ff;
  color: #fff;
  border-color: #fff;
  margin: 0.2rem;
}
.submit-btn {
  text-align: center;
  padding: 1rem 0;
}

/* ==============================================================================
----------------------------- Register Page Style End------------------------------
============================================================================== */