body{
    background-color:#f1f2f6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,p{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box{
    background-color: white;
}