@media only screen and (min-width:786px){
    /* common styles */
    .section-style{
        padding: 80px 50px;
    }

    /* header section */
    header{
        background-color: rgb(75, 71, 71, 0.5);
        padding: 0 15px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    header nav{
        flex-direction: row;
    }
    #nav-center{
        flex-direction: row;
        margin: auto;
    }
    #nav-last{
        flex-direction: row;
    }

    /* banner seciton */
    #banner-container{
        border-radius: 0 0 100px 100px;
    }
    #banner{
        padding: 200px;
    }
    #banner h1{
        color: white;
        font-size: 60px;
        margin: 20px;
        line-height: 60px;
    }


    /* Featured section */
    .floating-section{
        position: relative;
        min-height: 200px;
    }
    .feature-card-container{
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* why we section styles */
    .why-we-card-container{
        grid-template-columns: repeat(4, 1fr);
    }

    /* our working process section styles */
    #technologies{
        gap: 30px;
    }
    #technologies p{
        width: 170px;
        height: 170px;
        font-size: 36px;
        line-height: 48px;
    }

    /* Advertise section  */
    #advertise-container{
        grid-template-columns: 1fr 1fr;
    }
    #advertise-container > img{
        width: 350px;
    }

    /* agencies section styles */
    .agencies-container{
        grid-template-columns: 1fr 1fr;
    }

    /* publisher section style */
    #publisher p{
        width: 65%;
        margin-bottom: 80px;
    }
    
    /* fact about us section style */
    #about p{
        width: 65%;
        margin: 0 auto;
    }
    #fact-container{
        box-sizing: border-box;
        margin-top: 70px;
        grid-template-columns: repeat(6, 1fr);
    }

    /* contact section styles */
    #contact-container{
        padding: 50px 150px;
    }

    /* footer section styles */
    footer > p{
        width: 45%;
        margin: 0 auto;
    }
    }