/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}
main{
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}
section{
    padding: 30px;
}
.section-title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.section-subtitle{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}
.card{
    text-align: center;
    /* margin: 20px; */
}
.card-title{
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 24px;
}
.card-subtitle{
    color: #30bae7;
    margin: 7px auto 15px;
}
.btn{
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    border: none;
}
hr{
    opacity: 0.149;
    width: 87px;
    height: 4px;
    background-color: #000000;
    margin: 15px auto;
}

/* header section styles */
header{
    max-width: 1440px;
    height: 596px;
    background-color: #87509c;
    color: white;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
header nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* background-color: #87509c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; */
}
nav img{
    width: 116px;
    height: 36px;
}
nav ul{
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
nav ul li{
    list-style: none;
    margin: 0;
    min-width: 200px;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li:hover{
    background-color: #401954;
}
#banner-text{
    text-transform: none;
    max-width: 800px;
    margin: 10px auto 30px;
    padding: 0 10px;
}

/* service section styles */
#service{
    /* min-height: 450px; */
    background-color: #17c2a4;
    color: white;
}
#service-card-container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.card img{
    height: 150px;
}

/* team section styles */
#team{
    background-color: #e7f1f8;
}
.team-person{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.address-group{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.fa-brands, .fa-regular{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #bdd1df;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* contact section styles */
#contact{
    background-color: #3c5499;
    color: white;
    text-align: center;
}
#contact-form input[type="text"],input[type="email"], textarea{
    width: 100%;
    box-sizing: border-box;
    background-color: #273a71;
    padding: 10px;
    color: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
}
::placeholder{
    color: white;
}



/* footer section styles */
footer{
    background-color: #344b8e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer ul{
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
footer ul li{
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
footer ul li a:hover{
    color: #30bae7;
}