body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3B5998;
    justify-content: space-between;
    padding: 10px 0px;
}
span{
    color:rgb(191, 190, 189) ;
    margin-top: 10px;
}
.paragraph-1{
    color: white;
    font-weight: bolder;
    margin-left: 40px;
}
.nav-sec-2{
    display: flex;
    justify-content: center;
}
.label-1{
   color: white;
}
.sec-div1{
    margin-right: 5px;
}
.btn-1{
    margin-top: 18px ;
    margin-left: 10px;
    color: white;
    background-color: #3B5998;
    cursor: pointer;
    font-weight: bold;
}
.section-1{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sec-1-h1{
    color: #3B5998;
}
.middle-1{
    margin-top: 15px;
}
.middle-2{
    margin-left: 30px; 
}
#input-1{
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 17px ;
    border: 2px solid rgb(191, 191, 191);
    border-radius: 3px;
    color: rgb(191, 191, 191) ;
    font-weight: 500;
}
#input-2{
    width: 89%;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 15px ;
    font-size: 17px ;
    border: 2px solid rgb(191, 191, 191);
    border-radius: 3px;
    color: rgb(191, 191, 191) ;
    font-weight: 500;
}
.create-1{
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}
#para-2{
   font-size: 20px;
}
.label-3{
    font-size: 22px;
    color: rgb(106, 105, 105);

}
.input-5{
  width: 30%;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 15px;
}

.paragraph-2{
    color: rgb(83, 84, 85);
}
.btn-3{
    width: 35%;
    padding: 12px 0px;
    background-color: rgb(52, 113, 54);
    border: none;
    font-size: 15px;
    color: white;
    border-radius: 3px;
}

@media screen and (max-width: 850px) {
    nav{
        display: block;
        text-align: center;
        background-color: #3B5998;
        justify-content: space-between;
        padding: 10px 0px;
    }
    .paragraph-1{
        color: white;
        font-weight: bolder;
        margin-left: 10px;
    }
    .section-1{
        width: 80%;
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
    }
    .img-1{
        width: 100%;
        height: 200px;
    }
    .btn-3{
        width: 30%;
        padding: 12px 0px;
        background-color: rgb(52, 113, 54);
        border: none;
        font-size: 15px;
        color: white;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    #input-1{
        padding: 7px; 
        margin-bottom: 10px;
        font-size: 10px ;
        border: 2px solid rgb(191, 191, 191);
        border-radius: 3px;
        color: rgb(191, 191, 191) ;
        font-weight: 500;
    }
    #input-2{
        width: 76%;
        padding: 7px;
        margin-bottom: 10px;
        font-size: 10px ;
        border: 2px solid rgb(191, 191, 191);
        border-radius: 3px;
        color: rgb(191, 191, 191) ;
        font-weight: 500;
    }
    .input-5{
        width: 30%;
        border-radius: 5px;
        font-size: 10px;
      }
      #para-2{
        font-size: 20px;
     }
     .create-1{
        font-size: 25px;
        margin-top: 15px;
        font-weight: bold;
    }
    .nav-sec-2{
        display: block ;
    }
    .label-2{
        margin-top: 5px;
    }
    .sec-1-h1{
        font-size: 15px;
    }
    #Male{
        
    }
}