/* universal styles */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2, h3, h4{
    margin: 0;
    margin-bottom: 10px;
    color: #375899;
}
a{
    text-decoration: none;
    color: #375899;
}
header{
    background-color: #375899;
    color: white;
    margin: 0;
    padding: 0 20px;
    /* text-align: center; */
}
main{
    box-sizing: border-box;
    margin: 0;
    background-image: linear-gradient(to bottom right, #f1f2f7, #f1f2f7, #c5cde0, #c5cde0);
    padding: 20px;
    /* height: calc(100vh-116px); */
    display: flex;
    align-items: center;
}


/* header styles */
header nav{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#nav-login{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#nav-login p{
    margin: 0;
    font-size: 13px;
}
#nav-login input[type='email'],input[type='password']{
    min-width: 300px;
    /* max-width: 300px; */
    height: 20px;
}
#login-btn input{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #375899;
    color: white;
}

/* Sign Up form Styles */
.container{
    box-sizing:  border-box;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
#web-img{
    width: 100%;
    margin-bottom: 20px;
}
#signup-form{
    margin-top: 20px;
    color: #032870;
}
#signup-form tr td:nth-child(1){
    text-align: right;
    padding-right: 10px;
}
#signup-form input{
    height: 25px;
    width: 100%;
    border: 1px solid #a7b9e2;
    margin-bottom: 5px;
    color: #032870;
}
#signup-form input[type='radio']{
    height: auto;
    width: auto;
    border: 1px solid #a7b9e2;
}
#signup-form p{
    font-size: 13px;
    margin: 0;
    margin-bottom: 15px;
}
#signup-btn input{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 7px 15px;
    background-color: #66a54c;
    color: white;
}


@media only screen and (min-width: 786px){
    header nav{
        flex-direction: row;
        gap: 10px;
    }
    #nav-login{
        flex-direction: row;
        align-items: start;
    }
    #nav-login div > input[type='email'],input[type='password']{
        min-width: 200px;
    }
    #login-btn input{
        margin-top: 18px;
    }
    #signup-container{
        margin-left: 100px;
    }
    #signup-form{
        margin-left: 50px;
    }
    .container{
        min-height: calc(100vh - 137px);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}