/* phone number input package style  */
.PhoneInput {
  display: flex !important;
}
.PhoneInputInput {
  padding: 0.5rem 0;
  border: 0;
  outline: 0;
  padding-left: 1rem;
  background-color: rgba(172, 172, 172, 0.1);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* form label style  */
.form-label {
  font-weight: 600;
}
