@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova.otf");
}
body {
  margin: 0;
  padding: 0;
  font-family: "ProximaNova";
}
* {
  transition: all 500ms ease;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f3a032;
  --secondary-color: #dd4126;
  --light-color: #fff;
}
/* ====================  Utility ==================== */
/* Gradient button  */
.btn-gradient {
  padding: 1rem 2rem;
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
  border-radius: 2rem;
  border: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--light-color);
}
.btn-gradient:hover {
  background: var(--light-color);
  color: #000;
}

/* primary button  */
.btn-primary {
  padding: 1rem 2rem;
  background: var(--primary-color);
  border-radius: 2rem;
  border: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--light-color);
}
.btn-primary:hover {
  background: var(--light-color);
  color: #000;
}

/* secondary button  */
.btn-secondary {
  padding: 1rem 2rem;
  background: var(--light-color);
  border-radius: 2rem;
  border: transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-secondary:hover {
  background: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--light-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ====================  Navigation area start ==================== */
nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.branding,
ul,
.nav-end {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  list-style: none;
  color: var(--light-color);
}
.nav-bar ul li a {
  text-decoration: none;
  color: var(--light-color);
}
select {
  background-color: transparent;
  border: transparent;
  color: var(--light-color);
  margin-right: 1rem;
  cursor: pointer;
}
select option {
  color: var(--primary-color);
}
/* ====================  Navigation area end ==================== */

/* ====================  Banner area start ==================== */
header {
  background: url("../assets/banner-bg.png");
  background-position: center center;
  background-size: cover;
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  flex-direction: column;
}
.banner h1 {
  color: var(--light-color);
  font-size: 3rem;
  max-width: 600px;
  text-align: center;
}

/* banner service area  */
.banner-services {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 1rem;
}
.banner-services .card {
  background: var(--light-color);
  padding: 2rem 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.banner-services .card:hover {
  background: var(--primary-color);
  box-shadow: none;
  color: var(--light-color) !important;
}
.banner-services .card:hover {
  color: var(--light-color);
}
.banner-services .card:hover .btn-group .btn-primary {
  background: var(--light-color);
  color: #000;
}
.banner-services .card h3 {
  font-size: 1.5rem;
  margin: 0;
}
.banner-services .card p {
  color: gray;
}
.btn-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.btn-group a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.btn-group a:hover {
  text-decoration: underline;
}

/* ====================  Banner area end ==================== */
